.navbar-light .navbar-nav .nav-link  {
    color: var(--secondary-color);
    font-weight: normal;
}
.navbar-light .navbar-nav .nav-link.active-link {
    background-color: var(--orange);
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: var(--body-font);
    font-weight: normal;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: 0.4s;
    background-image: linear-gradient(45deg, #292821, transparent);
}
.logoDiv{
    width: 10%;
    height: auto;
    margin-left: 1.5rem;
}
.brand-logo{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.nav-item {
    margin: 0rem 1rem;
}
.nav-item a{
    color: #000;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: var(--body-font);
    font-weight: normal;
    padding: 0.5rem 1rem;
}
@media screen and (max-device-width: 574px){
    .logoDiv{
        width: 25%;
        margin-left: 0;
    }
}
@media screen and (max-device-width: 767px){
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: fixed;
        top: 17%;
        background-color: #fff;
        z-index: 100;
        width: 90%;
    }
}