<footer>
    <div class=" container">
        <div class="row align-items-center justify-content-center">
            <!-- NAME -->
            <div class="Footer_center_col col-lg-5">
                <div class="logoDiv">
                    <a routerLink="">
                        <p>Hometel Flavours</p>
                    </a>
                </div>
                <p>GOOD FOOD, GOOD EAT</p>
            </div>
            <!-- NAV -->
            <div class="Footer_center col-lg-4">
                <a class="text_link" routerLink="" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact:true}">Home</a>
                <a class="text_link" routerLink="menu">Menu</a>
                <a class="text_link" routerLink="about">About</a>
                <a class="text_link" routerLink="contact">Contact</a>
            </div>
            <!-- ICON -->
            <div class="Footer_center col-lg-3 d-flex justify-content-end">
                <div class="socialicon">
                    <img src="https://i.postimg.cc/tTjNXH5P/fb.png" alt="">
                </div>
                <div class="socialicon">
                    <img src="https://i.postimg.cc/FRzskYDQ/insta.png" alt="">
                </div>
                <div class="socialicon">
                    <img src="https://i.postimg.cc/FzP6dKWw/twitter.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>